body {
    display: flex;
    flex-direction: column;
    min-height: 99vh;
    border: 2px solid red;

}

.header {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin-bottom: auto;
}

.right {
    justify-content: flex-end;
}

.right a {
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    color: gray
}

.left {
  justify-content: flex-start;
}

.left a {
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    color: gray
}

.footer {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    background-color: rgb(236, 233, 233);
    margin-top: auto;
    padding: 0.5em;
}

.right2 {
    justify-content: flex-end;
}

.right2 a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: gray;
}

.left2 {
    justify-content: flex-start;
}

.left2 a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: gray
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    border: 2px solid red;
    margin-bottom: 2em;
}

.search-box {
}

.search-box1 {
    display: flex;
    justify-content: center;
    border: 2px solid red;
    background-color: green;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:6px;
    padding:13px;
    width:335px;
    margin: 100px auto;
}

.search-box1 input {
    margin: 1px;
    background-color: transparent;
    border: none;
}

.button { 
    display: flex;
    justify-content: center;
    border: 2px solid red
}