body {
    display: flex;
    flex-direction: column;
    min-height: 99vh;
    border: 2px solid red;

}

.header {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin-bottom: auto;
}

.right {
    justify-content: flex-end;
}

.right a {
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    color: gray
}

.left {
  justify-content: flex-start;
}

.left a {
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    color: gray
}

.footer {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    background-color: rgb(236, 233, 233);
    margin-top: auto;
    padding: 0.5em;
}

.right2 {
    justify-content: flex-end;
}

.right2 a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: gray;
}

.left2 {
    justify-content: flex-start;
}

.left2 a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: gray
}

.logo {
    align-self: center;
}

.search-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.5em;
}

.search-box1 {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(241, 229, 229, 0.959);
    background-color: green;
    border-radius: 15px;
    padding: 0.5em;
    width: 25em;
    margin: auto;
    margin-top: 1em;
}

.search-box1 input {
    margin: auto;
    background-color: transparent;
    border: none;
}

.button { 
    display: flex;
    justify-content: center;
    border: 2px solid red
}