html {
    display: block;
    overflow: hidden;
}

body {
    display: block;
    overflow: hidden;
}

.image {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.top li {
    display: inline;
}

.bottom li {
    display: inline;
}

.search-box {
    border: 2px;
}
.header ul {
    list-style-type: none;
    font-size: 18px;
}
.footer ul {
    list-style-type: none;
    font-size: 18px;
}

